html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #11161f;
}

#imgui-canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}

.hidden-input {
    display: none;
}
